html {
  font-size: 18px;
  color: #fff;
  background-color: #18181D;
}

body {
  --border-radius: 1rem;
  --border-radius-larger: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.flex {
  flex: 1 1 auto;
}

.flex_fix {
  flex: 0 0 auto;
}

.main {
  padding: 5px;
  border-radius: var(--border-radius);
  background-color: #35363A;
  overflow: auto;
}

.main__inner {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  height: 100%;
}

.main__header {
  display: flex;
  align-items: center;
}

.cards-nav {
  display: inline-block;
  padding: 3px;
  background-color: #18181D;
  border-radius: var(--border-radius-larger);
}

.slide-list {
  position: relative;
  display: inline-flex;
}

.slide-list__item {
  flex: 0 0 auto;
  z-index: 1;
}

.cards-nav__btn {
  padding: 10px 17px;
  cursor: pointer;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--border-radius-larger);
  background-color: #333;
  transition: translate 170ms ease-in-out, width 170ms ease-in-out;
}

.main__content {
  border-radius: var(--border-radius);
  overflow: hidden;
}

/* | | | | | | | | | | | | | | | | | header | | | | | | | | | | | | | | | | | */

.header {
  position: relative;
  display: flex;
}

.container_add {
  margin-left: auto;
}

.btn_add {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
  font-weight: 500;
  color: #18181D;
  background-color: #fff;
  border-radius: 14px;
  cursor: pointer;
}

.btn_add:hover {
  background-color: #f1f1ff;
}

@media screen and (max-width: 768px) {
  .btn_add__text {
    display: none;
  }
}

/* | | | | | | | | | | | | | | | | cards | | | | | | | | | | | | | | | | */

.cards {
  height: 100%;
  overflow: auto;
}

.cards__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 16px;
}

.card {
  padding: 20px;
  background-color: #212121;
  border: 1px solid #333;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card__inner {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.card__preview {
  width: 130px;
  height: 130px;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1.3;
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .cards__grid {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .card {
    padding: 16px;
  }

  .card__inner {
    align-items: center;
    justify-content: start;
  }

  .card__preview {
    width: 60px;
    height: 60px;
  }

  .card__title {
    position: static;
  }
}

/* | | | | | | | | | | | | | | | | modal-add | | | | | | | | | | | | | | | | */

.modal-add {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  display: inline-block;
  width: 300px;
  background-color: #000;
  border-radius: var(--border-radius);
  z-index: 2;
}

.modal-add__inner {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.field {
  padding: 0 20px;
}

/* field_close */

.field_close {
  display: flex;
  padding: 5px 5px 0 0;
  justify-content: flex-end;
}

.btn_close {
  display: inline-flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

/* field_card-location */

.field_card-location {
  display: flex;
  justify-content: space-between;
}

.field_card-location__text {
  align-self: flex-end;
  font-size: 16px;
}

.radio-btns {
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid #3f3f46;
}

.radio-btns__label {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: 500;
}

.radio-btns__label:not(:last-of-type) {
  border-right: 1px solid #3f3f46;
}

.radio-btns__input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.radio-btns__label:has(input:checked) {
  background-color: #3f3f46;
}

/* field_title */

.field_title {
  margin-bottom: 10px;
}

.input_title {
  width: 100%;
  padding: 8px 16px;
  border-radius: 14px;
  border: 1px solid #fff;
  transition: border-color 1s ease-out;
}

/* field_upload */

.field_upload {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
}

.label_upload {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  padding: 9px 14px;
  background-color: #27272A;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 1s ease-out;
}

.upload-info {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.upload-info__text {
  position: relative;
  line-height: 1.1;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
}

.upload-info__text::after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(270deg, #000, rgba(0, 0, 0, 0));
}

/* field_add */

.field_add {
  margin-top: 50px;
  padding-bottom: 20px;
  align-self: center;
}

.btn {
  padding: 10px 14px;
  background-color: #3d3d50;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .modal-add {
    width: auto;
    left: 0;
  }
}